.greyed {
    filter: grayscale(100%);
    height: 100px;
    width: 100px;
}

.greyed:hover {
    filter: none;
}

.profile-link {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin: 1rem!important;
    width: 100px !important;
    background-color: #fff!important;
    border-radius: .25rem!important;
}

.profile-link:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

p {
    text-align: justify;
}
