p {
    text-align: justify;
}

.quote {
    display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: stretch;

    background-color: #424242;
    border-radius: 0.35rem;
	margin: 1rem 0rem 1rem 0rem;
    padding: 0rem 1rem 0rem 0rem;
	overflow: hidden;
}

.quote-marker {
	width: 2rem;
	background-color: #03A9F4;
	margin-right: 1rem;
}
