:root {
	/*
	a, b, c, d --> lighter to darker
	*/

	--core-d-white: #ffffff;
	--core-c-white: #eeeeee;

	--core-d-black: #424242;
	--core-c-black: #707070;
	--core-b-black: #BDBDBD;

	--core-d-blue: #0288D1;
	--core-c-blue: #03A9F4;
	--core-b-blue: #B3E5FC;
	--core-a-blue: #E1F5FE;

	--core-c-yellow: #f9a825;
	--core-b-yellow: #ffab00;
	--core-a-yellow: #ffdd4b;

	--core-c-green: #2e7d32;
	--core-b-green: #4caf50;
	--core-a-green: #80e27e;

	--core-d-red: #e53935;
}

body {
	min-width: 400px !important;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
}

a {
	text-decoration: none;
	white-space: nowrap;
}

.logo {
	white-space: nowrap;
}

/* navbar section */
.navbar {
	box-shadow:0 0px 4px rgba(0, 0, 0, 0.3), 0px 3px 40px rgba(0, 0, 0, 0.1);	
	background-color: var(--core-d-white);
}

.navbar .logo img {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	vertical-align: bottom;
}

.navbar .logo .title {
	color: var(--core-d-black);
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
}

.nav-item {
	font-size: 1.5rem;
	padding: 0.5rem;
	color: var(--core-d-black);
}

a .nav-item:hover {
	color: var(--core-c-blue);
}

a .nav-item.selected {
	color: var(--core-c-blue);
	cursor: default;
}

/* header formatting */
.header-section {
	background-color: var(--core-d-black);
	width: 100%;
}

.header-section .title {
	color: var(--core-c-blue);
	font-size: 4rem;
	font-weight: 300;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.blockquote {
	color: var(--core-b-yellow);
}

.blockquote-footer {
	color: var(--core-a-yellow);
}

/* footer section */
footer {
	color: var(--core-c-black);
}

footer a {
	color:  var(--core-c-black);
}

footer a:hover {
	color: var(--core-c-blue);
}

/* content formatting */
.content .title-hash {
	color: var(--core-a-green);
}

.content .title-hash:hover {
	color: var(--core-b-green);
}

.content title {
	color: var(--core-d-black);
}

/* error formatting */
.error {
	color: var(--core-d-red);
	font-size: 2.5rem;
	font-weight: 300;
}

.todo { /* only to mark content that is listed but not yet completed */
	color: var(--core-d-red) !important;
}

mark {
	background-color: var(--core-a-blue);
}

b, strong {
	font-weight: bold;
}
