/* Card Formatting */
.card-object{
	display: flex !important;
	justify-content: flex-start !important;
	align-items: center !important;

    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
	margin-top: 2rem!important;
	margin-bottom: 2rem !important;

	-webkit-box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
	-moz-box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #fff!important;
    border-radius: .25rem!important;
}

.card-object:hover{
	-webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
	-moz-box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
}

.card-content p {
	text-align: justify;
}

.card-image{
	height: 150px !important;
	width: 150px !important;
	display: block;
	margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.card-content {
	display: flex !important;
	flex-direction: column !important;
	align-items: flex-start !important;
	margin: 0rem 0.75rem 0rem 0.75rem;
}

.card-heading {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
}

.card-footing {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	flex-wrap: wrap;
	width: 100%;
}

.card-date {
	margin: 0.5rem 0rem 0.5rem 0rem;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	margin-left: auto;
}

.hashtags {
	color: #039BE5;
	background-color: #E1F5FE;
	margin: 0.5rem 1rem 0.5rem 0rem;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	border-radius: 3px;
	white-space: nowrap;
}

.hashtags:hover {
	text-decoration: none;
	color: #0288D1;
	background-color: #B3E5FC;
}

.content a {
	white-space: normal;
	color: #424242;
}

.content a:hover {
	color: #03A9F4;
}
