/* Card Formatting */
.card-object{
	-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	-moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);	
	margin-top: 2rem;
	border-radius: 3px;
}

.card-object:hover{
	-webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); 
	-moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); 
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); 
}

.card-image{
	height: 150px;
	width: 150px;
	display: block;
	margin: 0.5rem;
}

.card-heading {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
}

.card-icon{
	font-size: 1rem;
	vertical-align: middle;
}

.hashtags {
	color: #039BE5;
	background-color: #E1F5FE;
	margin-right: 1rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	border-radius: 3px;
}

.hashtags:hover {
	text-decoration: none;
	color: #0288D1;
	background-color: #B3E5FC;
}

.cards-stack a {
	white-space: normal;
	color: #424242;
}

.cards-stack a:hover {
	color: #03A9F4;
}
