body {
	min-width: 400px !important;
}

/* Header Formatting */
.header-background {
	background-color: #424242;
	height: 10rem;
	width: 100%;
	/* margin-top: 4rem; */
}

.header-row {
	height: 10rem;
}

.header-title {
	color: #03A9F4;
}

.header-row.title-only {
	height: 7rem;
}

.header-background.title-only {
	height: 7rem;
}

/* Navbar Section */
.page-navbar {
	height: 4rem;
	width: 100%;
	box-shadow:0 0px 4px rgba(0, 0, 0, 0.3), 0px 3px 40px rgba(0, 0, 0, 0.1);	
	background-color: #ffffff;
	
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1024;
}

.navbar-collapse-icon {
	font-size: 36px;
	vertical-align: bottom;
}

.navbar-collapse-icon:hover {
	color: #03A9F4;
}

.navbar-row {
	height: 4rem;
	/* padding-left: 2rem;
	padding-right: 2rem; */
}

.material-icons.navbar-icon{
	color: #4CAF50;
	font-size: 48px;
	vertical-align: bottom;
}

.navbar-title {
	color: #424242;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}

.navbar-link {
	font-size: 1.3rem;
	padding: 0.1rem;
}

.navbar-link.selected {
	color: #03A9F4;
}

/* Link Formatting */
.simple-link {
	font-family: 'Roboto', sans-serif;
	color: #424242;
}

.simple-link:hover {
	text-decoration: none;
	color: #03A9F4;
}

.hashtags {
	color: #039BE5;
	background-color: #E1F5FE;
}

/* Footer Section */
#footer-logo {
	font-size: 30px;
	color: #9E9E9E;
	vertical-align: bottom;
}

#footer-title {
	font-family: 'Roboto', sans-serif;
	color: #9E9E9E;
}
