body {
	min-width: 400px !important;
}

/* Header Formatting */
.page-header {
	background-color: #424242;
	width: 100%;
}

.header-row.title-only {
	height: 7rem;
}

.header-background.title-only {
	height: 7rem;
}

/* Navbar Section */
.format-navbar {
	box-shadow:0 0px 4px rgba(0, 0, 0, 0.3), 0px 3px 40px rgba(0, 0, 0, 0.1);	
	background-color: #ffffff;
}

.navbar-collapse-icon {
	font-size: 30px;
	vertical-align: bottom;
}

.navbar-collapse-icon:hover {
	color: #03A9F4;
}

.material-icons.navbar-icon{
	color: #4CAF50;
	font-size: 48px;
	vertical-align: bottom;
}

.navbar-title {
	color: #424242;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}

.navbar-link {
	font-size: 1.3rem;
	padding: 0.1rem;
}

.navbar-link.selected, .header-title {
	color: #03A9F4;
}

/* Link Formatting */
.simple-link {
	font-family: 'Roboto', sans-serif;
	color: #424242;
}

.simple-link:hover {
	text-decoration: none;
	color: #03A9F4;
}

/* Footer Section */
.footer-logo {
	font-size: 30px;
	color: #9E9E9E;
	vertical-align: bottom;
}

.footer-title {
	font-family: 'Roboto', sans-serif;
	color: #9E9E9E;
}
