body {
	min-width: 400px !important;
}

/* Header Formatting */
.material-icons#header-icon{
	color: #2196F3;
	font-size: 60px;
	vertical-align: bottom;	
}

#header-background {
	background-color: #424242;
	height: 10rem;
	width: 100%;
}

#header-row {
	height: 10rem;
}

.quote-border {
	/* border-color: white; */
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	background-color: rgba(224, 224, 224, 0.1)
}

/* Filter-section Formatting */
#filter-row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#repo-heading-title {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}

/* Card Formatting */
.card-object{
	/* -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1); */
	/* -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1); */
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);	
	margin-top: 2.5rem;
	border-radius: 3px;
}

div.card-object:hover{
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 3px 3px 40px rgba(0, 0, 0, 0.1);	
}

.card-image{
	height: 150px;
	width: 150px;
	display: block;
	margin: auto;
}

.card-heading {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
}

.card-icon{
	font-size: 1rem;
	vertical-align: middle;
}

a.card-link:hover {
	text-decoration: none;
	background-color: #FAFAFA;
	border-radius: 3px;
}

/* Footer Section */
footer {
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	height: 4rem;
	width: 100%;
	
	background-color: #424242;
	margin-top: 3rem;
}

.material-icons#footer-icon{
	color: #9E9E9E;
	font-size: 48px;
	vertical-align: bottom;
}

#footer-title {
	color: #9E9E9E;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
}

.footer-link {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	color: #9E9E9E;
}

.footer-link:hover {
	text-decoration: none;
	color: #BDBDBD;
}
