<!doctype html>
<html lang="en">
	<head>
		<!-- Meta Data -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Harsha Vardhan">

		<!-- Third-party CSS Stylesheets -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Custom CSS Stylesheets -->
		<link rel="stylesheet" href="../css/general.css">		

	</head>
	<body>
		<!-- Navigation Bar -->
		<div id="page-navbar">
			<div class="row justify-content-between" id="navbar-row">
				<div class="col-md-7 col-lg-5 align-self-center">
					<a href="../../index.html" class="navbar-link simple-link">
						<span class="material-icons" id="navbar-icon">polymer</span>
						<span class="p-2" id="navbar-title">harshatech2012</span>
					</a>
				</div>
				<div class="col-md-5 col-lg-4 align-self-center">
					<div class="d-flex flex-column flex-md-row justify-content-end">
						<a href="./credits.html" class="navbar-link simple-link p-2">Credits</a>
						<a href="." class="navbar-link simple-link p-2 selected">About Me</a>
					</div>
				</div>
			</div>
		</div>

		<div class="header-background title-only">
			<div class="container">
				<!-- Page Header -->
				<div class="row justify-content-around pb-2 header-row title-only">
					<div class="col-auto align-self-center">
						<span class="display-3 header-title">Who, What, Where?</span>
					</div>
				</div>

				<!-- Content -->
				<div class="row mt-3">
					<div class="col-12">
						<div class="display-4">
							<a href="#" class="simple-link">#</a>
							<span class="text-secondary"> Hi, I'm Harsha</span>
						</div>
					</div>
					<div class="col-11 offset-1 mt-3">
						<p class="lead">
							I am a Mechanical Engineer. I graduated from... yeah, it doesn't matter. 
							I believe that a person can do anything-and-everything, except for travelling faster 
							than the speed of light or the likes of it - you know what I mean! And this leads me to believe in things like:
						</p>
						<blockquote class="blockquote text-right">
							Never let your schooling interfere with your education.
							<footer class="blockquote-footer">
								Mark Twain
							</footer>
						</blockquote>
						<p class="lead">
							Speaking of education, I like learning new concepts (I mean studying!) especially related to robotics,
							mechanical systems design, computer systems architecture <small class="text-muted">(Well, I code in as many languages as there are 
							planets in our solar system.!)</small>, electonics, physics, military research, artificial intelligence, neuro-science,
							20th century history, global politics (the tussle between countries)... and the list goes on. I love playing 
							computer games, epecially <abbr title="Real-Time Strategy">RTS</abbr> <small class="text-muted"> (I enjoy comming up with new ideas 
							and strategies)</small>, because they are my muse.
						</p>
						<p class="lead">
							Simply put, I'm a pedantic, tenacious, high-functioning, and <abbr title="The reason I could learn so much, duh!">introverted</abbr> 
							nerd (or geek). Also, I like singing, listning to music, painting. Now, one more quote that I like:
						</p>
						<blockquote class="blockquote text-right">
							It's hard to fail, but it's worse never to have tried to succeed.
							<footer class="blockquote-footer">
								Theodore Roosevelt
							</footer>
						</blockquote>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-12">
						<div class="display-4">
							<a href="#" class="simple-link">#</a>
							<span class="text-secondary"> What do I do?</span>
						</div>
					</div>
					<div class="col-11 offset-1 mt-3">
						<p class="lead">
							I design and build robots - their mechanical, electornic and computer systems. I am a full-stack 
							web developer. I write code in C, Java, Python, JavaScript, C++, Groovy, C# and also Matlab 
							(<a target="_blank" href="https://stackoverflow.com/users/4687256/harshatech2012">StackOverflow profile</a>) I do Computer-Aided Design and 3D Modelling 
							(<a target="_blank" href="https://grabcad.com/harsha-20">GrabCAD profile</a>), Animation and 
							Graphics Design. 
						</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-12">
						<div class="display-4">
							<a href="#" class="simple-link">#</a>
							<span class="text-secondary"> Where am I?</span>
						</div>
					</div>
					<div class="col-11 offset-1 mt-3">
						<p class="lead">I live in India. I don't use social-networking website(s) too often, but I do 
							have profile(s) in some of the popular ones.</p>
						<div class="lead">Email: 
							<a target="_blank" href="mailto:harshatech2012@outlook.com">harshatech2012@outlook.com</a>
						</div>
						<div class="lead">Facebook: 
							<a target="_blank" href="https://www.facebook.com/harshatech2012">Harsha Vardhan</a>
						</div>
						<div class="lead">Twitter: 
							<a target="_blank" href="https://twitter.com/harshatech2012">@harshatech2012</a>
						</div>
					</div>
				</div>

				<!-- Footer Section -->
				<div class="row justify-content-around mb-3 mt-3">
					<div class="col-12"><hr></div>
					<div class="col-auto">
						<a href="../../index.html" class="navbar-link simple-link">
							<span class="material-icons" id="footer-logo">polymer</span>
							<span class="p-1" id="footer-title">harshatech2012</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- JavaScript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
