<!doctype html>
<html lang="en">
	<head>
		<!-- Meta Data -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Harsha Vardhan">

		<!-- Third-party CSS Stylesheets -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Custom CSS Stylesheets -->
		<link rel="stylesheet" href="../css/general.css">		

	</head>
	<body>
		<!-- Navigation Bar -->
		<div id="page-navbar">
			<div class="row justify-content-between" id="navbar-row">
				<div class="col-md-7 col-lg-5 align-self-center">
					<a href="../../index.html" class="navbar-link simple-link">
						<span class="material-icons" id="navbar-icon">polymer</span>
						<span class="p-2" id="navbar-title">harshatech2012</span>
					</a>
				</div>
				<div class="col-md-5 col-lg-4 align-self-center">
					<div class="d-flex flex-column flex-md-row justify-content-end">
						<a href="." class="d-inline navbar-link simple-link selected p-2">Credits</a>
						<a href="./about.html" class="navbar-link simple-link p-2">About Me</a>
					</div>
				</div>
			</div>
		</div>

		<div class="header-background title-only">
			<div class="container">
				<!-- Page Header -->
				<div class="row justify-content-around pb-2 header-row title-only">
					<div class="col-auto align-self-center">
						<span class="display-3 header-title">Wish I did everything!</span>
					</div>
				</div>

				<!-- Content -->
				<div class="row mt-3">
					<div class="col-12">
						<div class="display-4">
							<a href="#" class="simple-link">#</a>
							<span class="text-secondary"> Graphics</span>
						</div>
					</div>
					<div class="col-11 offset-1 mt-3">
						<div class="media">
							<img src="./../img/fallback-image.png" class="d-block mr-3" height="100" width="100">
							<div class="media-body">
								<h3>Pictures</h3>
								<p class="lead">
									Icons made by 
									<a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from 
									<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
									<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
								</p>
							</div>
						</div>
						<div class="media mt-4">
							<img src="./../img/svg/sensor.svg" class="d-block mr-3" height="100" width="100">
							<div class="media-body">
								<h3>Sensor</h3>
								<p class="lead">
									Icons made by 
									<a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
									<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
									<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-12">
						<div class="display-4">
							<a href="#" class="simple-link">#</a>
							<span class="text-secondary"> Frameworks</span>
						</div>
					</div>
					<div class="col-11 offset-1 mt-3">
						<div class="media">
							<img src="./../img/svg/bootstrap-solid.svg" class="d-block mr-3" height="100" width="100">
							<div class="media-body">
								<h3>Bootstrap</h3>
								<p class="lead">
									<a href="https://getbootstrap.com/">Bootstrap</a> is released under the 
									<a href="https://github.com/twbs/bootstrap/blob/v4.0.0/LICENSE">MIT license</a> and is copyright 2018 Twitter
								</p>
							</div>
						</div>
						<div class="media mt-4">
							<img src="./../img/google-design.png" class="d-block mr-3" height="100" width="100">
							<div class="media-body">
								<h3>Google Design</h3>
								<p class="lead">
									<a href="https://design.google/">Google Design</a> is a cooperative effort led by a group of designers, writers, and developers at Google. 
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Footer Section -->
				<div class="row justify-content-around mb-3 mt-3">
					<div class="col-12"><hr></div>
					<div class="col-auto">
						<a href="../../index.html" class="navbar-link simple-link">
							<span class="material-icons" id="footer-logo">polymer</span>
							<span class="p-1" id="footer-title">harshatech2012</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- JavaScript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
